@model IEnumerable<Offer>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
            <div class="container">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">@item.Title</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"> @item.Price RON <small class="text-muted"></small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>@item.Description</li>
                                <li>@item.Apartment.Title</li>
                                <li>@item.Apartment.Address.City</li>
                                <li>Start date: @item.StartDate</li>
                                <li>End date: @item.EndDate</li>
                            </ul>
                           
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a asp-controller="offer" asp-action="Detail" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>

                    @if (item.AgentId == int.Parse(User.GetUserId()))
                        {
                         <a asp-controller="offer" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                         <a asp-controller="offer" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                        }
                    </div>
                </div>
            </div>
            }

            <div>
            
       
    </div>
</div>